.header{
    height: 34vw;
    margin: 30px auto;
    background:url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.headerContents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s ;
}

.headerContents h2{
    font-weight: 500;
    color: #ffff;
    font-size: max(4.5vw,22px);

}

.headerContents p{
    color: #fff;
    font-size: 1.2vw;
}

.headerContents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding:1vw 2.3vw ;
    background-color: #ffff;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width:1050px){
   
    .headerContents{
        max-width: 45%;
    }
}


@media (max-width:750px){
    
    .headerContents{
        max-width: 65%;
    }
    .headerContents p{
        display: none;
    }
    .headerContents button{
        padding: 2vw 4vw;
    }
}